// SPDX-License-Identifier: GPL-2.0-only
/* Frozen Stage 7D13 SC8547 experiment; not a production charging policy. */

&pmic_glink {
	oneplus,pps-read-buffer;
	oneplus,pps-fixed-5v;
	oneplus,pps-5v5-1a;
	oneplus,pps-ramp-9v-1a;
	oneplus,pps-ramp-9v2-1a;
	oneplus,pps-ramp-2to1-1a;
	oneplus,pps-run-2to1-5m;
	oneplus,pps-policy-2to1-1a;
	oneplus,pps-secondary-500ms;
	oneplus,pps-dual-500ms;
};

&i2c_hub_0 {
	sc8547_secondary: charger@6f {
		compatible = "southchip,sc8547";
		reg = <0x6f>;
		southchip,role = "secondary";
		southchip,allow-experimental-control;
		southchip,experimental-reg00 = <0x36>;
		southchip,experimental-reg02 = <0x01>;
		southchip,experimental-reg04 = <0x50>;
		southchip,experimental-reg05 = <0x1b>;
		southchip,allow-experimental-cp-pulse;
		southchip,experimental-vbus-min-uv = <7650000>;
		southchip,experimental-vbus-max-uv = <9400000>;
		southchip,experimental-start-delta-uv = <450000>;
		southchip,experimental-start-overshoot-max-uv = <200000>;
		southchip,experimental-start-reference-max-uv = <4350000>;
		southchip,experimental-pulse-vbus-min-uv = <7300000>;
		southchip,experimental-pulse-ratio-error-max-uv = <250000>;
		southchip,experimental-vbat-min-uv = <3600000>;
		southchip,experimental-vbat-max-uv = <4500000>;
		southchip,experimental-tdie-max-mc = <70000>;
	};
};

&i2c_hub_2 {
	sc8547_primary: charger@6f {
		compatible = "southchip,sc8547a";
		reg = <0x6f>;
		southchip,role = "primary";
		southchip,allow-experimental-control;
		southchip,experimental-reg00 = <0x36>;
		southchip,experimental-reg01 = <0xbf>;
		southchip,experimental-reg02 = <0x01>;
		southchip,experimental-reg04 = <0x50>;
		southchip,experimental-reg05 = <0x1b>;
		southchip,experimental-reg0d = <0x50>;
		southchip,allow-experimental-cp-pulse;
		southchip,experimental-vbus-min-uv = <7650000>;
		southchip,experimental-vbus-max-uv = <9400000>;
		southchip,experimental-start-delta-uv = <450000>;
		southchip,experimental-start-overshoot-max-uv = <200000>;
		southchip,experimental-pulse-vbus-min-uv = <7300000>;
		southchip,experimental-pulse-ratio-error-max-uv = <250000>;
		southchip,experimental-vbat-min-uv = <3600000>;
		southchip,experimental-vbat-max-uv = <4350000>;
		southchip,experimental-tdie-max-mc = <70000>;
	};
};
